bintrees==2.2.0
certifi>=2024.0.0
chardet>=5.0.0
charset-normalizer>=3.0.0
click>=8.1.7
dateutils>=0.6.12
deap>=1.4.1
Flask>=3.0.0
gevent>=24.2.1
greenlet>=3.0.3
itsdangerous>=2.1.2
Jinja2>=3.1.3
MarkupSafe>=2.1.5
numpy>=2.0.0
pyaml>=23.0.0
python-dateutil>=2.9.0
pytz>=2024.1
PyYAML>=6.0.1
requests>=2.32.0
six>=1.16.0
sortedcontainers>=2.4.0
SQLAlchemy>=2.0.0
# tulipy==0.4.0 # Incompatible with 3.13, consider replacing with OctoBot-Tulipy
websocket-client>=1.8.0
Werkzeug>=3.0.0
zope.event>=5.0
zope.interface>=6.0
robin_stocks>=3.2.0